<h1>Nightingale Surveillance</h1>

<%= form_for SurveillanceRequest.new, html: { class: 'form-inline' } do |form| %>

  <%= form.label :name, 'Name', class: 'mr-sm-2' %>
  <%= form.text_field :name, class: 'form-control mr-sm-2' %>

  <%= form.label :fields, 'Fields', class: 'mr-sm-2' %>
  <%= form.text_field :fields, class: 'form-control mr-sm-2' %>

  <%= form.label :terms, 'Terms', class: 'mr-sm-2' %>
  <%= form.text_field :terms, class: 'form-control mr-sm-2' %>

  <%= form.submit 'Add New Surveillance Request', class: 'btn btn-primary' %>

<% end %>

<div id="surveillanceResults">
  <%= render "surveillance_requests/surveillance_results" %>
</div>
