<h2>Surveillance Results</h2>

<% @surveillance_requests.each do |request| %>

  <h3><%= request.name %></h3>

  Fields: <%= request.fields %></br>
  Terms: <%= request.terms %></br>

  <table class='table'>
    <thead>
      <tr>
        <th>Record</th>
        <th>Matching Field</th>
        <th>Matching Term</th>
      </tr>
    </thead>
    <tbody>
      <%# TODO: We should group these by record %>
      <% request.surveillance_results.each do |result| %>
        <tr>
          <td><pre><%= JSON.pretty_generate(result.record.data) %></pre></td>
          <td><%= result.field %></td>
          <td><%= result.term %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
